html
  head
    title='Node.JS Sample App'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Hello From Node.JS!!!
        p Click the buttons below to access other web services...
        p
          a.btn.btn-primary(href="http://test11:5000") .Net Core Web site
        p
