html
  head
    title='DevOps Demo : SMLabs '
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Node.JS base app - Hello
        p Click the buttons below to access other web services...
        p
          a.btn.btn-primary(href="" onclick="javascript:event.target.port=81") Php website withHost 2.0
        p
          a.btn.btn-primary(href="?name=node%20Visitor" onclick="javascript:event.target.port=82") Golang Web site
        p
          a.btn.btn-primary(href="" onclick="javascript:event.target.port=8080") Docker Service Visualizer
        p        
